.container{
    margin-bottom: 100px;
}
.color-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:deeppink;
}
.buy-now-button{
    color: floralwhite;
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136b 100%);
    border-radius:8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;

}