
.container{
    margin-bottom: 100px;
}
.color-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:deeppink;
}
.buy-now-button{
    color: floralwhite;
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136b 100%);
    border-radius:8px;
    padding: 9px 25px;
    border: none;
    cursor: pointer;

 } 
   /* carousel part end */

.cat1,.cat2,.cat3{
    padding: 10px 30px;
    color: floralwhite;
}
.categories img{
    height: 130px;
}
.cat1{
    background-image: linear-gradient(to left, rgb(255, 169, 8)100%,#dda7147e 0%);
    border-radius: 8px;
}
.cat2{
    background-image: linear-gradient(to bottom,#ac1853 0%,#ff136b 100%);
    border-radius: 8px;
}
.cat3{
    background-image: linear-gradient(to bottom,rgb(31, 31, 246) 0%,blue 100%);
    border-radius: 8px;
}
/* categories part end */
.card{
    border: none;
    box-shadow:5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border-top:none;
}